<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="notificationParser" class="fh.notificationCentre.data.parser.NotificationParserXLSX" />

    <bean id="notificationCache" class="fh.notificationCentre.cache.NotificationMapCache" init-method="init" />

    <bean id="notificationService" class="fh.notificationCentre.service.NotificationServiceImpl" />


</beans>